<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="'UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=0.1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Realtime count using channels from django</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-6 mx-auto mt-5">
                    <h1 id="app"> {{text}} </h1>
                </div>
            </div>
        </div>
    </body>

    <script>
        var socket = new WebSocket('ws://localhost:8000/ws/integers/');
        socket.onmessage = function(event){
            var data = JSON.parse(event.data);
            console.log(data);
            document.querySelector("#app").innerText = data.message;
        }
    </script>
</html>